.email-form {
    background-color: #c4c0c0;
    padding: 20px;
    margin: 90px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.email-form h2 {
    text-align: center;
    color: #000000;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.email-form form {
    display: flex;
    flex-direction: column;
}

.email-form label {
    margin-bottom: 8px;
    font-size: 16px;
    color: #000000;
}

.email-form input[type="email"],
.email-form input[type="text"],
.email-form textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.email-form input[type="email"]:focus,
.email-form input[type="text"]:focus,
.email-form textarea:focus {
    border-color: #000000;
    outline: none;
}

.email-form textarea {
    min-height: 120px;
    resize: vertical;
}

.email-form button {
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-form button:hover {
    background-color: #0056b3;
}

.email-form input[type="file"] {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
    color:rgb(8, 0, 232);
    border-radius: 0px;
}